*.cache
*.desktop
*.gmo
*.m4
*.o
*.swp
*~
.deps
ABOUT-NLS
INSTALL
Makefile
Makefile.in
POTFILES
TAGS
aclocal.m4
config.h
config.log
config.rpath
config.status
configure
gmon.out
po/.intltool-merge-cache
po/*.sed
po/*.sin
po/*.header
po/Makevars.template
po/Rules-quot
src/chmsee
src/default-prefs.js
src/marshal.c
src/marshal.h
stamp*
tags
