*.a
*.bak
*.cache
*.desktop
*.gmo
*.mo
*.m4
*.o
*.swp
*.cmake
*~
.deps
/.cproject
/.project
/.settings
/config.status.lineno
/cscope.files
cscope.out
ABOUT-NLS
Makefile
Makefile.in
POTFILES
TAGS
aclocal.m4
build
compile
config.guess
config.h
config.log
config.rpath
config.status
config.sub
configure
depcomp
gmon.out
install-sh
intltool-*
missing
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makevars.template
po/Rules-quot
src/chmsee
src/default-prefs.js
src/marshal.c
src/marshal.h
stamp*
tags
CMakeCache.txt
CMakeFiles
data/default-prefs.js
gtester.xml
report.html
test/test
