*.cache
Makefile
Makefile.in
.deps
*.gmo
*.desktop
TAGS
stamp*
aclocal.m4
config.h
config.log
config.status
configure
*.o
src/chmsee
POTFILES
src/marshal.h
src/marshal.c
src/default-prefs.js
po/.intltool-merge-cache
tags
gmon.out
