[Desktop Entry]
Version=1.0.2
Name=ChmSee
Name[it]=ChmSee
Name[sv]=ChmSee
Name[zh_CN]=ChmSee
Comment=HTML Help(CHM) viewer
Comment[it]=Visualizzatore Help(CHM) HTML
Comment[sv]=HTML-hjälpvisare (CHM)
Comment[zh_CN]=HTML Help(CHM) 文件阅读工具
Exec=chmsee %f
Terminal=false
Type=Application
Icon=chmsee-icon.png
StartupNotify=true
Categories=Utility;
MimeType=application/x-chm;
