<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>chmsee2web</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Gtk2+ based CHM viewer" />
  <meta name="keywords" content="ChmSee, CHM, Gtk2+, gecko" />
  <link rel="stylesheet" type="text/css" href="./stylesheet/devault.css" />
</head>

<body>
  <div class="content">
    <div class="section">
      <h2>版权声明</h2>
      <p>
        chmsee2web 采用 GNU General Public License (GPL) 发布。使用本软件和软件代码的风险由你自己承担，本软件作者不承担任何由于使用本软件和软件代码造成的损失。
      </p>
    </div>
</body>
</html>
